@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import '../app/variables';

.ngx-datatable.bootstrap {
  background-color: transparent;
  box-shadow: 0 0 0 #000;
}

.ngx-datatable.scroll-vertical {
  height: 300px;
}

// workaround for use of detail rows
// with other table in the same page
.no-detail-row .datatable-row-detail {
  display: none !important;
}

// change color of active cells selected
.ngx-datatable.bootstrap.single-selection .datatable-body-row.active, .ngx-datatable.bootstrap.single-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.bootstrap.multi-selection .datatable-body-row.active, .ngx-datatable.bootstrap.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.bootstrap.multi-click-selection .datatable-body-row.active, .ngx-datatable.bootstrap.multi-click-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.bootstrap.single-selection .datatable-body-row.active:hover, .ngx-datatable.bootstrap.single-selection .datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.bootstrap.multi-selection .datatable-body-row.active:hover, .ngx-datatable.bootstrap.multi-selection .datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.bootstrap.multi-click-selection .datatable-body-row.active:hover, .ngx-datatable.bootstrap.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
  background-color: $brand-purple !important;
  .datatable-body-cell {
    color: #fff;
  }
}

// Mouse Hover
.ngx-datatable.bootstrap .datatable-body-row:hover{
  background-color: #d3c9ff !important;
  cursor: hand;
}




// remove link decoration
.datatable-icon-right {
  text-decoration: none !important;
}
// align table with no data legend
.ngx-datatable.bootstrap .empty-row {
  text-align: center;
  margin-top: 20px;
}
// tabele footer
.ngx-datatable.bootstrap .datatable-footer {
  background-color: transparent !important;
  color: $text-color !important;
}
// table pagination

.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  color: $pagination-color !important;
}
.pager li > a, .pager li > span {
  border-color: $pagination-border !important;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a, .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  background-color: $brand-purple !important;
  border-color: $brand-purple !important;
  color: #fff !important;
}

.grid-header{
  background-color: $gray;
  font-weight: bold;
  border-right: groove 1px $gray-light;
}

.grid-action{
  background-color: $gray-dark;
  font-weight: bold;
  border-right: groove 1px $gray-light;
}
