<div class="content-heading">

  <div class="pull-right text-center">

  </div>
  Quick Trivia Levels
  <span class="badge my-brand-light">{{rows.length}}</span>
</div>

<div class="container-fluid">
  <!-- START row-->
  <div class="row">
    <div class="col-sm-4">
      <!-- START panel-->
      <div class="panel panel-default">
        <div class="panel-heading">Add Level</div>
        <div class="panel-body">
          <form role="form" [formGroup]="addLevelForm">
            <div class="form-group">
              <label>Level Name</label>
              <input class="form-control" type="text" formControlName="level_name" placeholder="Level Name" />
            </div>

            <button [disabled]="!addLevelForm.valid"  class="btn btn-labeled btn-success" type="button" (click)="createCatagory()">
                    <span class="btn-label"><i class="fa fa-check"></i>
               </span>Submit
            </button>


          </form>
        </div>
      </div>
      <!-- END panel-->

      <!-- START panel-->

      <div class="panel panel-default">
        <div class="panel-heading">Edit Level</div>
        <div class="panel-body">
          <form role="form" [formGroup]="editLevelForm">
            <div class="form-group">
              <label>ID : </label>
              {{currentSelection.Level_id}}
            </div>
            <div class="form-group">
              <label>_id : </label>
              {{currentSelection._id}}
            </div>

            <div class="form-group">
              <label>Level Name</label>
              <input class="form-control" type="text" formControlName="level_name" [value]="currentSelection.level_name" placeholder="Level Name"/>
            </div>
            <button class="btn btn-labeled btn-warning" type="button" [disabled]="!editLevelForm.valid" (click)="modifyLevel()"  >
                    <span class="btn-label"><i class="fa fa-edit"></i>
                    </span>Modify
            </button>


            <button class="btn btn-labeled btn-danger pull-right" type="button" [disabled]="currentSelection.level_name == ''"  (click)="deleteLevel()">
                    <span class="btn-label"><i class="fa fa-times"></i>
                    </span>Delete
            </button>


          </form>
        </div>
      </div>


      <!-- END panel-->
    </div>
    <div class="col-sm-8">
      <!-- START panel-->

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Level List</div>
        </div>
        <div class="panel-body">


          <div class="row mb-4">
            <div class="col-md-4">
              <input type='text' class="form-control" placeholder="Filter Level Name" (keyup)='updateFilter($event)' />
            </div>
          </div>
          <ngx-datatable #table class='bootstrap no-detail-row' [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"
                         [limit]="15" [rows]='rowsFilter'[selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'>
            <ngx-datatable-column prop="level_id" name="Id" class="text-center" [width]="50"></ngx-datatable-column>
            <ngx-datatable-column prop="level_name" name="Name"></ngx-datatable-column>
            <ngx-datatable-column prop="q_count" name="Questions"></ngx-datatable-column>
            <ngx-datatable-column prop="_id" name="_id"></ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>

      <!-- END panel-->
    </div>
  </div>
  <!-- END row-->
</div>
