<div class="content-heading">

  <div class="pull-right text-center">

  </div>
  Categories
  <span class="badge my-brand-light">{{rows.length}}</span>
</div>

<div class="container-fluid">
  <!-- START row-->
  <div class="row">
    <div class="col-sm-4">
      <!-- START panel-->
      <div class="panel panel-default">
        <div class="panel-heading">Add Category</div>
        <div class="panel-body">
          <form role="form" [formGroup]="addCategoryForm">
            <div class="form-group">
              <label>Category Name</label>
              <input class="form-control" type="text" formControlName="category_name" placeholder="Category Name"/>
            </div>

            <div class="form-group text-center">

                  <color-picker
                    [(ngModel)]="addCategoryColor"
                    [availableColors]="appUiService.pickerColors"
                    [pickerConfig]="appUiService.pickerConfig"
                    [ngModelOptions]="{standalone: true}">
                  </color-picker>

            </div>

              <button [disabled]="!addCategoryForm.valid"  class="btn btn-labeled btn-success" type="button" (click)="createCatagory()">
                    <span class="btn-label"><i class="fa fa-check"></i>
               </span>Submit
            </button>


          </form>
        </div>
      </div>
      <!-- END panel-->

      <!-- START panel-->
      <div class="panel panel-default">
        <div class="panel-heading">Edit Category</div>
        <div class="panel-body">
          <form role="form" [formGroup]="editCategoryForm">
            <div class="form-group">
              <label>ID : </label>
              {{currentSelection.category_id}}
            </div>
            <div class="form-group">
              <label>_id : </label>
              {{currentSelection._id}}
            </div>

            <div class="form-group">
              <label>Category Name</label>
              <input class="form-control" type="text" formControlName="category_name"  [value]="currentSelection.category_name" placeholder="Category Name"/>
            </div>


            <div class="form-group text-center">

              <color-picker
                [(ngModel)]="currentSelection.color"
                [availableColors]="appUiService.pickerColors"
                [pickerConfig]="appUiService.pickerConfig"
                [ngModelOptions]="{standalone: true}">
              </color-picker>

            </div>



            <button class="btn btn-labeled btn-warning" type="button" [disabled]="!editCategoryForm.valid" (click)="modifyCategory()"  >
                    <span class="btn-label"><i class="fa fa-edit"></i>
                    </span>Modify
            </button>


            <button class="btn btn-labeled btn-danger pull-right" type="button" [disabled]="currentSelection.category_name == ''"  (click)="deleteCategory()">
                    <span class="btn-label"><i class="fa fa-times"></i>
                    </span>Delete
            </button>


          </form>
        </div>
      </div>
      <!-- END panel-->
    </div>
    <div class="col-sm-8">
      <!-- START panel-->

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Category List</div>
        </div>
        <div class="panel-body">


          <div class="row mb-4">
            <div class="col-md-4">
              <input type='text' class="form-control" placeholder="Filter Category Name" (keyup)='updateFilter($event)' />
            </div>
          </div>
          <ngx-datatable #table class='bootstrap no-detail-row' [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"
                         [limit]="15" [rows]='rowsFilter'[selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'>
            <ngx-datatable-column prop="category_id" name="Id" class="text-center" [width]="50"></ngx-datatable-column>
            <ngx-datatable-column prop="category_name" name="Name"></ngx-datatable-column>

            <ngx-datatable-column prop="color" name="Color">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div style="border:solid 1px #ddd; width: 20px; height: 20px; border-radius: 10px;" [style.background-color]="value">
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="q_count" name="Questions"></ngx-datatable-column>

            <ngx-datatable-column prop="_id" name="_id"></ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>

      <!-- END panel-->
    </div>
  </div>
  <!-- END row-->
</div>
