input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  text-align: center;
}
.number-picker{
  display: inline-flex;
  button{
    height: 30px !important;
  }
  input{
    height: 30px !important;
    border: 1px #eaeaea solid;
    border-left: 0 #ffffff solid !important;
    border-right: 0 #ffffff solid !important;
    padding-left: 5px;
    padding-right: 5px;
  }
  div{
    float: left;
  }
}
