<div class="number-picker">
  <div>
    <button class="btn btn-square btn-default btn-sm" (click)="decreaseValue()"><i class="fa fa-minus"></i></button>
  </div>
	<div>
    <input [formControl]="numberPicker" type="number" min="{{min}}" max="{{max}}" pattern="{{pattern}}" size="{{size}}"/>
  </div>
  <div>
    <button class="btn btn-square btn-default btn-sm" (click)="increaseValue()"><i class="fa fa-plus"></i></button>
  </div>
</div>
