.color-picker-container {
  display: inline-block;
  position: relative;
}

.current-color {
   display: inline-block;
   background-color: #EEEEEE;
   border: solid 1px #999999;
   cursor: pointer;
}

.color-picker-color {
   display: inline-block;
   margin-left: 4px;
   cursor: pointer;
}
.color-picker-dropdown {
  padding-bottom: 0;
}
