<div class="color-picker-container" dropdown [style.margin-top]="config.marginToCenter + 'px'">
            <span class="current-color dropdown-toggle"
                  [style.width]="config.width + 'px'"
                  [style.height]="config.height + 'px'"
                  [style.border-radius]="config.borderRadius + 'px'"
                  [style.background-color]="cd.viewModel"
                  dropdownToggle>
            </span>
  <ul class="dropdown-menu color-picker-dropdown"
      role="menu"
      *dropdownMenu>
    <li class="color-picker-color"
        *ngFor="let color of availableColors"
        [style.width]="config.width + 'px'"
        [style.height]="config.height + 'px'"
        [style.border-radius]="config.borderRadius + 'px'"
        [style.background-color]="color"
        (click)="setColor(color)"
        [title]="color">
    </li>
  </ul>
</div>
