<div class="content-heading">

  <div class="pull-right text-center">

  </div>
  Quick Trivia Questions
  <span class="badge my-brand-light">{{rows.length}}</span>


  <div class="pull-right">
    <button (click)="addNewQuestion();" class="btn btn-default btn-labeled btn-outline pull-right">
        <span class="btn-label"><i class="fa fa-plus"></i>
       </span>Add Question
    </button>
  </div>


</div>

<div class="container-fluid">


  <div class="modal fade" bsModal #questionModal="bs-modal" name="questionModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="questionModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{questionMode}} Question</h4>
        </div>
        <div class="modal-body">
          <form role="form" [formGroup]="questionForm" id="questionForm">
            <div class="form-group">
              <label>Question</label>
              <input class="form-control" type="text" formControlName="question" placeholder="Question" />
            </div>


            <div class="form-group">
              <label> Type : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>


              <label class="radio-inline c-radio">
                <input id='single' type="radio" formControlName="type" name="type" value="single" />
                <span class="fa fa-circle"></span> Single
              </label>
              <label class="radio-inline c-radio">
                <input id ='multiple' type="radio" formControlName="type" name="type" value="multiple"  />
                <span class="fa fa-circle"></span> Multiple
              </label>
              <label class="radio-inline c-radio">
                <input id='sequence' type="radio" formControlName="type" name="type" value="sequence"  />
                <span class="fa fa-circle"></span> Sequence
              </label>


              <div class="file-upload-container col-sm-6">


                <label class="btn btn-purple btn-labeled btn-outline">
                  <span class="btn-label"><i class="fa fa-file-image-o"></i>
                 </span>Question Image  <input type="file" #addIcon (change)="handleQuestionImage($event.target.files)">
                </label>

                <img src="{{currentQuesImgPath}}"/>
              </div>

            </div>






            <div formArrayName="options"  class="form-row panel panel-default">

              <div class="panel-heading"><h4 class="inline">Options</h4>
                <div class="pull-right">
                  <button (click)="addOption()" [disabled]="questionForm.value.options.length >= appUiService.maximumOptions" class="btn btn-default btn-labeled btn-outline pull-right">
                    <span class="btn-label"><i class="fa fa-plus"></i>
                   </span>Add Option
                  </button>
                </div>
              </div>



              <div class="form-group panel-body" *ngFor="let option of questionForm.get('options').controls; let i = index"
                   [formGroupName]="i">
                <label>Option {{i+1}}</label>


                <div class="input-group">
                     <span class="input-group-addon">

                            <label class="radio-inline c-radio" *ngIf="questionForm.value.type == 'single'">
                              <input type="radio" id="option-{{i}}" name="isCorrect"  formControlName="isCorrect" [value]="i"/>
                              <span class="fa fa-circle"></span>
                            </label>

                            <label class="checkbox-inline c-checkbox"  *ngIf="questionForm.value.type == 'multiple'">
                              <input type="checkBox" id="option-{{i}}" formControlName="isCorrect" [value]="i"/>
                              <span class="fa fa-check"></span>
                            </label>

                            <span *ngIf="questionForm.value.type == 'sequence'">
                                {{i+1}}
                            </span>

                            <input type="hidden" formControlName="oid">

                     </span>
                  <input class="form-control" type="text" formControlName="title" placeholder="Option {{i+1}}" />
                </div>

              </div>

            </div>


            <div class="form-row">

              <div>
                <label class="">Category : &nbsp;&nbsp;&nbsp;</label>
                <div style="display:inline-flex; border:solid 1px #ddd; border-radius: 20px; padding-right: 20px; padding-left: 20px;" [style.background-color]="appDataService.qt_categories[categorySelect.selectedIndex-1]?.color">
                  <select #categorySelect class="category-select" name="category" id="category" formControlName="category" >
                    <option value="" disabled selected>Select Category  &nbsp;&nbsp;</option>
                    <option *ngFor="let c of appDataService.qt_categories" [value]="c._id">
                      {{c.category_name}}
                    </option>
                  </select>

                </div>

                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                <label class="">Level : &nbsp;&nbsp;&nbsp;</label>

                <div style="display:inline-flex; border:solid 1px #ddd; border-radius: 20px; padding-right: 20px; padding-left: 20px;">
                  <select name="level" class="category-select" id="level" formControlName="level">
                    <option value="" disabled selected>Select Level  &nbsp;&nbsp;</option>
                    <option *ngFor="let l of appDataService.qt_levels" [value]="l._id">{{l.level_name}}</option>
                  </select>
                </div>

                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                <label class="">Wrong Gone Option : &nbsp;&nbsp;&nbsp;</label>

                <div style="display:inline-flex; border:solid 1px #ddd; border-radius: 20px; padding-right: 20px; padding-left: 20px;">
                  <select name="wrong_option" class="category-select" id="wrong_option" formControlName="wrong_option">
                    <option value=""  selected>Select Wrong Option  &nbsp;&nbsp;</option>
                    <option *ngFor="let o of questionForm.value.options" [value]="o.oid" [disabled]="o.isCorrect">{{o.title}}</option>
                  </select>
                </div>



              </div>

            </div>


            <div class="form-group">
              <label>Fact</label>
              <textarea class="form-control" formControlName="fact" placeholder="Write a Fact about question."></textarea>
            </div>


            <div class="form-row">
              <label></label>
              <label class="error-message text-danger" *ngIf="isCorrectSelectionError"> Please Select Correct Answer</label>

              <div *ngIf="payLoad">
                <strong>Saved the following values</strong><br>{{payLoad}}
              </div>


            </div>





            <div class="modal-footer">
              <button [disabled]="!questionForm.valid"  class="btn btn-labeled btn-success" type="button" (click)="createOrModifyQuestion()" *ngIf="questionMode == 'Add'">
                      <span class="btn-label"><i class="fa fa-check"></i>
                 </span>Submit
              </button>
              <button [disabled]="!questionForm.valid"  class="btn btn-labeled btn-warning" type="button" (click)="createOrModifyQuestion()" *ngIf="questionMode == 'Edit'">
                      <span class="btn-label"><i class="fa fa-edit"></i>
                 </span>Modify
              </button>
            </div>



          </form>
        </div>
      </div>
    </div>
  </div>




  <!-- START row-->
  <div class="row">
    <div class="col-sm-12">
      <!-- START panel-->

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Question List</div>
        </div>
        <div class="panel-body">


          <div class="row">
            <div class="col-sm-1">
              <b>Filters:</b>
            </div>

            <div class="col-sm-2 text-center">
              <input type='text' class="form-control" placeholder="Filter Question Name" (keyup)='updateFilter($event)' style="margin-bottom: 5px" />
              <button class=" btn btn-purple btn-outline" (click)="updateFilter($event)"> Show All</button>
              <br/><br/>

                <label class="control-label">Archived </label>
                <label class="switch switch-lg">
                  <input type="checkbox" [checked]="showArchived" (change)="showArchived = !showArchived;loadQuestions();" />
                  <span></span>
                </label>

            </div>

            <div class="col-sm-9">
              <div style="margin-bottom: 5px">
                <b >Categories: &nbsp; &nbsp;</b>

                <button *ngFor="let c of appDataService.qt_categories" class="btn btn-labeled btn-primary btn-sm" [style.background-color]="c.color" style="margin-right: 5px" [disabled]="c.q_count <= 0" (click)="filterBy('category.category_name',c.category_name)">
                  <span class="btn-label">{{c.q_count}}</span>  {{c.category_name}}
                </button>

              </div>
              <div>
                <b>Levels: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </b>
                <button *ngFor="let l of appDataService.qt_levels" class="mb-sm btn btn-purple btn-labeled btn-outline btn-sm" style="margin-right: 5px" [disabled]="l.q_count <= 0" (click)="filterBy('level.level_name',l.level_name)">
                  <span class="btn-label">{{l.q_count}}</span> L {{l.level_name}}
                </button>
              </div>

            </div>


          </div>

          <hr/>
          <ngx-datatable #table class='bootstrap no-detail-row' [columnMode]="'flex'" [footerHeight]="50" [rowHeight]="'auto'"
                         [limit]="20" [rows]='rowsFilter'[selected]="selected" [selectionType]="'single'" [sorts]="[{prop: 'question_id', dir: 'desc'}]" (select)='onSelect($event)'>

            <ngx-datatable-column prop="question_id" name="Id" class="text-center" [flexGrow]=".5" [headerClass]="'grid-header'"></ngx-datatable-column>
            <ngx-datatable-column prop="question_image" name="Image" [flexGrow]="1" [headerClass]="'grid-header'">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <img [src]="cloudBucket+value" width="35" height="35"/>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="question" name="Question" [flexGrow]="5" [headerClass]="'grid-header'"></ngx-datatable-column>

            <ngx-datatable-column prop="category" name="image" [flexGrow]="2" [headerClass]="'grid-header'">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="badge" [style.background-color]="value?.color">
                  {{value?.category_name}}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="level.level_name" name="Level" [flexGrow]=".5" [headerClass]="'grid-header'"></ngx-datatable-column>
            <ngx-datatable-column prop="_id" name="_id" [flexGrow]="2" [headerClass]="'grid-header'"></ngx-datatable-column>
            <ngx-datatable-column prop="" name="" [flexGrow]="1" [headerClass]="'grid-header'">
              <ng-template let-value="value" ngx-datatable-cell-template class="text-center">
                <button (click)="editQuestion(value)" class="btn btn-circle btn-warning btn-xs">
                  <i class="fa fa-pencil"></i>
                </button> &nbsp;
                <button class="btn btn-circle btn-danger btn-xs"  (click)="removeQuestion(value)">
                  <i class="fa fa-remove"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>


          </ngx-datatable>
        </div>
      </div>

      <!-- END panel-->
    </div>
  </div>
  <!-- END row-->




</div>
