.no-full-form-control{
  height: 35px;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 1.52857143;
  color: #3a3f51;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dde6e9;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.category-select{
  height: 35px;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 1.52857143;
  background-color: unset !important;
  border: unset !important;
  color: #3a3f51;
  background-image: none;
  font-weight: bold;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.file-upload-container{
  float:right;

  input[type="file"] {
    display: none;
  }

  img{
    width: 40px;
    height: 40px;
    margin-left: 40px;
  }
}
