<div class="content-heading">

  <div class="pull-right text-center">

  </div>
  Quick Trivia Games
  <span class="badge my-brand-light">{{games.length}}</span>


  <div class="pull-right">

    <button class="btn btn-default" type="button" (click)="print();" [disabled]="gameMode == 'Add New'"> <i class="fa fa-print"></i> Print</button>
    &nbsp;
    <button (click)="resetAll();" class="btn btn-default btn-labeled btn-outline pull-right">
        <span class="btn-label"><i class="fa fa-plus"></i>
       </span>New Game
    </button>
  </div>

</div>


<div class="modal fade" bsModal #questionModal="bs-modal" name="questionModal" tabindex="-1" role="dialog"
     aria-hidden="true" onShow="">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="questionModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Select Question</h4>
      </div>
      <div class="modal-body">


        <!-- START row-->
        <div class="row">
          <div class="col-sm-12">
            <!-- START panel-->


            <div class="row">
              <div class="col-sm-1">
                <b>Filters:</b>
              </div>

              <div class="col-sm-2 text-center">
                <input type='text' class="form-control" placeholder="Filter Question Name"
                       (keyup)='updateFilter($event)' style="margin-bottom: 5px"/>
                <button class=" btn btn-purple btn-outline" (click)="updateFilter($event)"> Show All</button>
              </div>

              <div class="col-sm-9">
                <div style="margin-bottom: 5px">
                  <b>Categories: &nbsp; &nbsp;</b>

                  <button *ngFor="let c of appDataService.categories" class="btn btn-labeled btn-primary btn-sm"
                          [style.background-color]="c.color" style="margin-right: 5px" [disabled]="c.q_count <= 0"
                          (click)="filterBy('category.category_name',c.category_name)">
                    <span class="btn-label">{{c.q_count}}</span> {{c.category_name}}
                  </button>

                </div>
                <div>
                  <b>Levels: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </b>
                  <button *ngFor="let l of appDataService.levels"
                          class="mb-sm btn btn-purple btn-labeled btn-outline btn-sm" style="margin-right: 5px"
                          [disabled]="l.q_count <= 0" (click)="filterBy('level.level_name',l.level_name)">
                    <span class="btn-label">{{l.q_count}}</span> L {{l.level_name}}
                  </button>
                </div>

              </div>


            </div>

            <hr/>
            <ngx-datatable #table class='bootstrap no-detail-row' [columnMode]="'flex'" [footerHeight]="50"
                           [rowHeight]="'auto'"
                           [limit]="10" [rows]='rowsFilter' [selected]="selected" [selectionType]="'single'"
                           [sorts]="[{prop: 'question_id', dir: 'desc'}]"
                           (select)='onSelectQuestion($event)'>

              <ngx-datatable-column prop="question_id" name="Id" class="text-center" [flexGrow]=".5"
                                    [headerClass]="'grid-header'"></ngx-datatable-column>
              <ngx-datatable-column prop="question" name="Question" [flexGrow]="5"
                                    [headerClass]="'grid-header'"></ngx-datatable-column>
              <ngx-datatable-column prop="category" name="Category" [flexGrow]="1" [headerClass]="'grid-header'">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="badge" [style.background-color]="value?.color">
                    {{value?.category_name}}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="level.level_name" name="Level" [flexGrow]=".5"
                                    [headerClass]="'grid-header'"></ngx-datatable-column>
              <ngx-datatable-column prop="_id" name="_id" [flexGrow]="2"
                                    [headerClass]="'grid-header'"></ngx-datatable-column>

            </ngx-datatable>

            <!-- END panel-->
          </div>
        </div>
        <!-- END row-->


        <div class="modal-footer">
          <button class="btn btn-labeled btn-success" type="button"  [disabled]="selected.length == 0" (click)="selectGameQuestion()">
                      <span class="btn-label"><i class="fa fa-check"></i>
                 </span>Select
          </button>



        </div>


      </div>
    </div>
  </div>
</div>

<div class="container-fluid">


  <!-- START row-->
  <div class="row">

    <div class="col-sm-4">

      <!-- START panel-->

      <div class="panel panel-default">

        <div class="panel-heading">
          <div class="panel-title">Game List</div>
        </div>
        <div class="panel-body">


          <ngx-datatable #gamesGrid class='bootstrap no-detail-row' [columnMode]="'flex'" [footerHeight]="50"
                         [rowHeight]="'auto'"
                         [limit]="10" [rows]='games' [selected]="gameGridSelected" [selectionType]="'single'"
                         [sorts]="[{prop: 'start_date_time'}]"
                         (select)='onSelectGame($event)'>

            <ngx-datatable-column prop="game_id" name="Id" class="text-center" [flexGrow]=".5"
                                  [headerClass]="'grid-header'"></ngx-datatable-column>
            <ngx-datatable-column prop="game_name" name="Name" class="text-center" [flexGrow]="2"
                                  [headerClass]="'grid-header'"></ngx-datatable-column>
            <ngx-datatable-column prop="start_date_time" name="Start Time" [flexGrow]="2" [headerClass]="'grid-header'">

              <ng-template let-value="value" ngx-datatable-cell-template class="text-center">
                  {{formateGameDate(value)}}
              </ng-template>


            </ngx-datatable-column>
            <ngx-datatable-column prop="price" name="Price" [flexGrow]="1"
                                  [headerClass]="'grid-header'"></ngx-datatable-column>

          </ngx-datatable>

          <span class="center text-center" *ngIf="gameMode == 'Edit'">
              <button [disabled]="!gameForm.valid"  class="btn btn-labeled btn-purple" type="button" (click)="gamePlay()">
                      <span class="btn-label"><i class="fa fa-gamepad"></i>
                 </span>Game Play
              </button>
            </span>

        </div>

      </div>


      <!-- END panel-->

      <!-- START panel-->

      <div class="panel panel-default">

        <div class="panel-heading">
          <div class="panel-title">Archived Game List</div>
        </div>
        <div class="panel-body">


          <ngx-datatable #gamesArchivedGrid class='bootstrap no-detail-row' [columnMode]="'flex'" [footerHeight]="50"
                         [rowHeight]="'auto'"
                         [limit]="10" [rows]='archivedGames' [selected]="gameArchivedGridSelected" [selectionType]="'single'"
                         [sorts]="[{prop: 'start_date_time'}]"
                         (select)='onSelectGame($event,true)'>

            <ngx-datatable-column prop="game_id" name="Id" class="text-center" [flexGrow]=".5"
                                  [headerClass]="'grid-header'"></ngx-datatable-column>
            <ngx-datatable-column prop="game_name" name="Name" class="text-center" [flexGrow]="2"
                                  [headerClass]="'grid-header'"></ngx-datatable-column>
            <ngx-datatable-column prop="start_date_time" name="Start Time" [flexGrow]="2" [headerClass]="'grid-header'">

              <ng-template let-value="value" ngx-datatable-cell-template class="text-center">
                {{formateGameDate(value)}}
              </ng-template>


            </ngx-datatable-column>
            <ngx-datatable-column prop="price" name="Price" [flexGrow]="1"
                                  [headerClass]="'grid-header'"></ngx-datatable-column>

          </ngx-datatable>

        </div>

      </div>


      <!-- END panel-->

    </div>
    <div class="col-sm-8">

      <!-- Print panel -->

      <div id="print-section" style="display: none">
          <table width="100%">

            <tr>
              <td class="center" colspan="3"> <h3>India Jitega  <small>Game ({{currentSelection.game_id}})</small></h3> </td>
            </tr>
            <tr>
              <td><b>Game Name:</b> {{currentSelection.game_name}} </td>
              <td><b>Date & Time:</b> {{formateGameDate(currentSelection.start_date_time)}} </td>
              <td><b>Total Price:</b> {{currentSelection.price}} </td>
            </tr>

            <tr>
              <td colspan="3"><hr/> </td>
            </tr>
          </table>

          <table width="100%">
            <div *ngFor="let item of currentSelection.questions; let i = index">
              <tr>
                <td rowspan="3" width="50"> <b>{{i+1}}</b> </td>
                <td class="question"> {{item.question}} </td>
              </tr>
              <tr>
                <td class="options"> <span *ngFor="let op of item.options" [style.font-weight]="(op.isCorrect)?'bolder':'normal'" [style.color]="(op.isCorrect)?'green':'gray'"> <span style="font-size: large">{{(op.isCorrect)?'&#x25cf;':'&#x26AC;'}}</span>  &nbsp;<span [style.text-decoration]="(op.isCorrect)?'underline':''">{{op.title}}</span>  &nbsp; &nbsp; &nbsp;</span></td>
              </tr>
              <tr>
                <td colspan="3"><i><u>Fact:</u> </i>{{item.fact}}
                  <br><hr/> </td>
              </tr>

            </div>


          </table>


      </div>


      <!-- End Print -->




      <!-- START panel-->

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            {{gameMode}} Game :  &nbsp; &nbsp;{{currentSelection._id}}

            <div class="pull-right text-sm"># of Questions : &nbsp;<number-picker #queCtrComp [min]="5" [max]="99" [step]="1" [precision]="1" [inputDisabled]="true" [value]="gameQuestionsCount"  (onChange)="onQuestionCountChanged($event)"></number-picker></div>
          </div>

        </div>
        <div class="panel-body">

          <form role="form" [formGroup]="gameForm">

            <div class="row">
              <div class="col-sm-5">

                <label>
                  Game Name
                </label>
                <input class="form-control" formControlName="game_name" placeholder="Game Name"/>

              </div>
              <div class="col-sm-4">

                <label>
                  Date & Time
                </label>

                <div class="input-group">
                  <input class="form-control" [owlDateTime]="dt1" formControlName="start_date_time"
                         placeholder="Select Date"/>
                  <span class="input-group-addon" [owlDateTimeTrigger]="dt1"> <i class="fa fa-calendar"></i></span>
                </div>

                <owl-date-time #dt1></owl-date-time>
              </div>
              <div class="col-sm-3">

                <label>
                  Total Price
                </label>

                <div class="input-group">
                  <span class="input-group-addon"> <i class="fa {{appUiService.defaultCurrency.icon}}"></i></span>
                  <input class="form-control" formControlName="price" placeholder="Enter Price"/>
                </div>
              </div>
            </div>

            <hr/>
            <div class="row">
              <div class="col-sm-12 game-question-container">
                <!-- START User status-->
                <div class="media p mt0 list-group-item question" *ngFor="let item of currentSelection.questions; let i = index" >
                  <div class="number-cell">
                    <!-- Contact avatar-->
                    <span class="btn btn-circle btn-purple" (click)="putGameQuestion(i)" *ngIf="!item.question"><i class="fa fa-plus"></i></span>
                    <span class="btn btn-circle btn-purple" *ngIf="item.question" disabled="true">{{i+1}}</span>
                  </div>
                  <!-- Contact info-->
                  <div>

                    <span *ngIf="!item.question">
                      <strong class="text-gray text-md">{{'Question '+(i+1)}}</strong>
                    </span>
                    <span class="media-heading" *ngIf="item.question">
                      <strong>{{item.question}}</strong>
                      <br/>
                      <small class="text-muted" *ngIf="item.question">
                        <span *ngFor="let op of item.options" [style.font-weight]="(op.isCorrect)?'bolder':'normal'" [style.color]="(op.isCorrect)?'green':'gray'"> <i class="fa" [ngClass]="(op.isCorrect)?'fa-circle':'fa-circle-o'"></i>   &nbsp;{{op.title}}  &nbsp; &nbsp; &nbsp;</span>
                      </small>
                    </span>
                  </div>





                  <div class="qPrice-cell input-group">

                      <input  type="number" maxlength="10" size="10" [(ngModel)]="item.qPrice" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.isDirty=true"/>
                      <button class="btn btn-circle btn-xs" type="button" [ngClass]="{'btn-warning':item.isDirty,'btn-success':!item.isDirty}" (click)="setPrice(item)"><i class="fa fa-check" *ngIf="!item.isDirty"></i><i class="fa fa-edit" *ngIf="item.isDirty"></i></button>

                  </div>


                  <div class="category-cell">
                    <span *ngIf="item.question" class="badge bg-gray" >{{item.level.level_name}}</span>
                    <span *ngIf="item.question" class="badge" [style.background-color]="item.category.color">{{item.category.category_name}}</span>
                  </div>
                  <div class="close-cell">
                    <button class="btn-circle btn-xs text-danger" (click)="clearGameQuestion(i)" [disabled]="gameMode == 'Archived'"><i class="fa fa-close"></i></button>
                  </div>


                </div>
                <!-- END User status-->

                <!-- END User status-->


              </div>
            </div>
            <a class="media p mt0 list-group-item text-center text-muted" href="#" (click)="addEmptyGameQuestion()">Add Question</a>


            <div class="form-row">
              <label></label>
              <label class="error-message text-danger" *ngIf="isQuestionSelectionError"> Please Select All Questions</label>

              <div *ngIf="payLoad">
                <strong>Saved the following values</strong><br>{{payLoad}}
              </div>


            </div>

            <div class="modal-footer">
              <button [disabled]="!gameForm.valid"  class="btn btn-labeled btn-success" type="button" (click)="createOrModifyGame()" *ngIf="gameMode == 'Add New'">
                      <span class="btn-label"><i class="fa fa-check"></i>
                 </span>Submit
              </button>

              <button [disabled]="!gameForm.valid"  class="btn btn-labeled btn-danger" type="button" (click)="archiveGame()" *ngIf="gameMode == 'Edit'">
                      <span class="btn-label"><i class="fa fa-remove"></i>
                 </span>Archive
              </button>
              <button [disabled]="!gameForm.valid"  class="btn btn-labeled btn-warning" type="button" (click)="createOrModifyGame()" *ngIf="gameMode == 'Edit'">
                      <span class="btn-label"><i class="fa fa-edit"></i>
                 </span>Modify
              </button>

              <button [disabled]="!gameForm.valid"  class="btn btn-labeled btn-warning" type="button" (click)="archiveGame(false)" *ngIf="gameMode == 'Archived'">
                      <span class="btn-label"><i class="fa fa-check"></i>
                 </span>Restore
              </button>


            </div>

          </form>

        </div>

      </div>

      <!-- END panel-->
    </div>
  </div>
  <!-- END row-->


</div>
