.game-question-container{
  display: table;
  .question{
    display: table-row;

    div{
      display: table-cell;
      vertical-align: middle;
      padding: 5px;
      border-top: 1px #e4eaec solid;
    }
    .number-cell{
      width: 50px;
      border-left: 1px #e4eaec solid;
      padding-left: 9px;

    }
    .close-cell{
      width: 20px;
      border-right: 1px #e4eaec solid;
      padding-right: 5px;
    }
    .category-cell{
      width: 50px;
      text-align: center;
    }
    .qPrice-cell{
      width: 150px;
      input{
        width: 60%;
      }
      button{
        line-height: 28px;
        width: 28px;
        height: 28px;
        padding: 0;
      }

    }
  }
}
