<div class="game-play-container">
  <div class="modal fade" bsModal #gameSettingsModal="bs-modal" name="gameSettingsModal" tabindex="-1" role="dialog"
       aria-hidden="true" onShow="">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="gameSettingsModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Game Settings</h4>
        </div>
        <div class="modal-body">
          <form role="form" [formGroup]="gameSettingsForm">
            <div class="panel panel-transparent col-sm-6">
              <div class="panel-heading">Current Game</div>
              <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-2">Game State</label>
                    <div class="col-sm-10">
                      <label class="radio-inline c-radio">
                        <input id="inlineradio1" type="radio" name="game_status" formControlName="game_status" value="OFFLINE" checked="checked" />
                        <span class="fa fa-circle"></span>OFFLINE</label>
                      <label class="radio-inline c-radio">
                        <input id="inlineradio2" type="radio" name="game_status" formControlName="game_status" value="LIVE" />
                        <span class="fa fa-circle"></span>LIVE</label>
                    </div>
                </div>
                <div class="form-group">
                  <br/>
                  <label>Stream URLs:</label>
                  <input class="form-control" type="text" formControlName="streamV" placeholder="Stream Video URL"/><br/>
                  <input class="form-control" type="text" formControlName="streamA" placeholder="Stream Audio URL"/>
                </div>
                <div class="form-group">
                  <label>Live Connection URL:</label>
                  <input class="form-control" type="text" formControlName="plug" placeholder="Live Connection Url"/>
                </div>



              </div>
            </div>

            <div class="panel panel-transparent col-sm-6">
              <div class="panel-heading">Next Game</div>
              <div class="panel-body">

                <div class="form-group">

                    <label>
                      Date & Time
                    </label>
                    <br/>
                    <div class="text-center">
                      <owl-date-time-inline formControlName="start_date_time"></owl-date-time-inline>
                    </div>

                </div>
                <div class="form-group">
                  <br/>
                  <label>Price</label>
                  <input class="form-control" type="text" formControlName="price" placeholder="Next Game Price"/><br/>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-labeled btn-success" type="button" [disabled]="!gameSettingsForm.valid || gameSettingsForm.value.game_status == 'OFFLINE'"   (click)="startGame()">
                            <span class="btn-label"><i class="fa fa-check"></i>
                       </span>Start Game
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>








  <div class="row">

    <div class="col-sm-3 widgets-container">

        <div class="col-sm-12">
          <div class="panel widget bg-warning pull-right">
            <div class="row row-table">
              <div class="col-xs-3 text-center bg-warning-dark pv-sm">
                <em class="icon-people fa-2x"></em>
              </div>
              <div class="col-xs-9 pv-sm">
                <div class="h1 m0 text-bold">{{liveUsersCount}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="panel widget pull-right" [ngClass]="{'bg-danger': !isLive, 'bg-success': isLive}">
            <div class="row row-table">
              <div class="col-xs-3 text-center pv-sm" [ngClass]="{'bg-danger-dark': !isLive, 'bg-success-dark': isLive}" (click)="openGameSettingsModal()" style="cursor: pointer">
                <em class="icon-rocket fa-2x"></em>
              </div>
              <div class="col-xs-9 pv-sm">
                <div class="h1 m0 text-bold">{{timeRemaining().days()}}<span class="small-text"> D</span> {{timeRemaining().hours()}}<span class="small-text"> H</span> {{timeRemaining().minutes()}}<span class="small-text"> M</span> {{timeRemaining().seconds()}}<span class="small-text"> S</span> </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="panel widget my-brand-light">
            <div class="row row-table">
              <div class="col-xs-3 text-center my-brand-bg pv-sm">
                <em class="icon-game-controller fa-2x"></em>
              </div>
              <div class="col-xs-9 pv-sm">
                <div class="text-bold">{{currentGame.game_name}}</div>
                <div class="text-uppercase small-text">{{currentGame.questions.length}} Questions</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="panel widget my-brand-light pull-right">
            <div class="row row-table">
              <div class="col-xs-3 text-center my-brand-bg pv-sm">
                <em class="fa fa-rupee fa-2x"></em>
              </div>
              <div class="col-xs-9 pv-sm">
                <div class="h1 m0 text-bold">{{currentGame.price}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div *ngFor="let user of activeUsersList" class="col-sm-12 media" >
            <img  class="img-circle" width="54px" height="54px" src="{{CLOUD_BUCKET_URL+user.avatar}}" >
            <span class="text-md"> &nbsp; {{user.username}}</span>
            <span class="text-md pull-right"> &nbsp; {{user.game_earning}}</span>
          </div>
        </div>


    </div>
    <div class="col-sm-6">

      <h1 class="options-table"> Q{{currentQuestionId}} : {{currentGame.questions[currentQuestionId-1].question}}</h1>

      <table class="table table-bordered options-table">
        <tbody>


        <tr *ngFor="let op of currentGame.questions[currentQuestionId-1].options">
          <td width="70%" [ngClass]="{'correct-row': op.isCorrect,'incorrect-row': !op.isCorrect}">
            <span style="font-size: large">{{(op.isCorrect)?'&#x25cf;':'&#x26AC;'}}</span>  &nbsp;{{op.title}}
          </td>
          <td [ngClass]="{'correct-row': op.isCorrect,'incorrect-row': !op.isCorrect}">
            {{optionCount[op.oid]}}
          </td>
        </tr>
        </tbody>
      </table>

      <h1>Fact:</h1>
      <h1>
        {{currentGame.questions[currentQuestionId-1].fact}}
      </h1>


      <!-- START panel-->
      <!-- <div class="panel panel-default">
        <div class="panel-heading">Question : {{currentQuestionId}}

          <span class="pull-right">Price</span>
        </div>
        <div class="panel-body">

         <div class="badge badge-big" [style.background-color]="currentGame.questions[currentQuestionId-1].category.color">{{currentGame.questions[currentQuestionId-1].category.category_name}}</div>


          <h1 class="options-table"> Q{{currentQuestionId}} : {{currentGame.questions[currentQuestionId-1].question}}</h1>

          <table class="table table-striped table-bordered table-hover options-table">
            <tbody>


            <tr *ngFor="let op of currentGame.questions[currentQuestionId-1].options" [style.font-weight]="(op.isCorrect)?'bolder':'normal'" [style.color]="(op.isCorrect)?'green':'gray'">
              <td width="70%" [ngClass]="{'correct-row': op.isCorrect}">
                <span style="font-size: large">{{(op.isCorrect)?'&#x25cf;':'&#x26AC;'}}</span>  &nbsp;<span [style.text-decoration]="(op.isCorrect)?'underline':''">{{op.title}}</span>
              </td>
              <td [ngClass]="{'correct-row': op.isCorrect}">
                {{optionCount[op.oid]}} 10000
              </td>
            </tr>
            </tbody>
          </table>

          <h3>Fact:</h3>
          <h5>
            {{currentGame.questions[currentQuestionId-1].fact}}
          </h5>


        </div>
      </div> -->
      <!-- END panel-->
    </div>
    <div class="col-sm-3">
      <!-- START =============== CONTROLS  ============ panel-->
      <div class="panel panel-default">
        <div class="panel-heading">Controls</div>
        <div class="panel-body controls">
          <div class="controls-container">
            <button class="btn btn-lg btn-default controls-btn pull-left" (click)="goToPreviousQuestion()">Prev Question</button>
            <span>{{currentQuestionId}}</span>
            <button class="btn btn-lg btn-primary controls-btn pull-right" (click)="goToNextQuestion()">Next Question</button>
          </div>
          <div class="controls-container"></div>
          <div class="controls-container">
            <button class="btn btn-lg btn-warning controls-btn" (click)="sendQuestion()" [disabled]="!isLive || isQuestionSent" *ngIf="!isAnswerActive">Send Question</button>
            <button class="btn btn-lg btn-success controls-btn" (click)="sendAnswer()" [disabled]="!isLive || isAnserSent" *ngIf="isAnswerActive">Send Answer</button>
          </div>

        </div>
      </div>
      <!-- END panel-->



      <!-- START ======  USER STATS  panel-->
      <div class="panel panel-default">

        <div class="panel-body user-feedback">
          <div class="feedback-row">

            <!-- START table-responsive-->
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <tbody>
                <tr>
                  <td><b>Total Winners</b></td>
                  <td>{{winnerUsers.count}}</td>
                </tr>
                <tr>
                  <td><b>Winner Amount</b></td>
                  <td>{{winnerUsers.price}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- END table-responsive-->
            <br>
            <div class="text-center">
              <button class="btn btn-lg btn-primary controls-btn" (click)="sendWinners()" [disabled]="!isLive">Send Winners</button>
            </div>
          </div>

        </div>
      </div>
      <!-- END panel-->



      <!-- START ======  USER STATS  panel-->
      <div class="panel panel-default">
        <div class="panel-heading">Current Game Stats</div>
        <div class="panel-body user-feedback">
          <div class="feedback-row">

            <!-- START table-responsive-->
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <tbody>
                <tr>
                  <td><b>Live Users</b></td>
                  <td>{{liveUsersCount}}</td>
                </tr>
                <tr>
                  <td><b>Used Life</b></td>
                  <td>currentLifeUsers</td>
                </tr>
                <tr>
                  <td><b>Active in Game</b></td>
                  <td>currentAlive</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- END table-responsive-->
            <br>
            <div class="text-center">
              <button class="btn btn-lg btn-danger controls-btn" (click)="endGame()" [disabled]="!isLive">End Game</button>

            </div>

          </div>

        </div>
      </div>
      <!-- END panel-->

    </div>


  </div>


  <br/>
  Users : {{liveUsersCount}}

  <button class="btn btn-labeled btn-success" type="button" (click)="connectToSocket()">
                      <span class="btn-label"><i class="fa fa-check"></i>
                 </span>Connect to Socket
  </button>



</div>
