.badge-big{
    min-width: 10px;
    padding: 4px 12px;
    font-size: 18px;
    font-weight: normal;
    border-radius: 25px;
}
.badge-xbig{
  padding: 8px 12px;
  font-size: 24px;
  font-weight: normal;
  border-radius: 25px;
}

.widgets-container{
  .widget{
    text-align: center;
    color: #FFFFFF !important;
  }
  .small-text{
    font-size: 16px;
    font-weight: normal;
  }
}

body .dark-background{
  color: #FFFFFF;
  background-color: #3a3f51 !important;
  .wrapper > section{
    background-color: #3a3f51 !important;
  }


}
.panel{
  color: #0E1112;
}
.panel-heading{
  font-size: 26px;
  font-weight: bold;
}

.controls-btn{
  font-size:27px;
}

.controls{
  .controls-container{
    height: 58px;
    text-align: center;
    font-size: 27px;


  }
}
.options-table{
  margin: unset;
  margin-bottom: 15px;
  font-size: 45px;
  font-weight: bolder;
}


.correct-row{
  background-color: darkgreen;
  color: white;
  text-decoration: underline;
}
.incorrect-row{
  background-color: white;
  color: #0E1112;
}

.user-feedback{

  .feedback-row{
    font-size: 27px;

  }
}
