@import './shared/styles/app/variables';

.vertical-top{
  vertical-align: top;
}
.div-h-center{
  margin: 0 auto;
}


.dark-background{
  color: #FFFFFF;
  background-color: #3a3f51;
  .wrapper > section{
    background-color: #3a3f51;
  }

  .content-wrapper .content-heading{
    background-color: #3a3f51;
  }
}

@media (min-width: 1210px) {
  .modal-lg {
    width: 1200px;
  }
}

@media (min-width: 1450px) {
  .modal-lg {
    width: 1400px;
  }
}
